<div class="main" id="profil">
    <div id="left">
        <div id="lTop">
            <div id="photo"></div>
            <h2>Web/App<br>Developpeur</h2>
        </div>
        
        <div id="lBot">
            <div id="contInf">
                <h2>Lucas Rosinol</h2>
                <h2>24 ans</h2>
                <h2>lucrosinol@gmail.com</h2>
                <h2>06.71.01.07.18</h2>
            </div>
            <div id="contRs" >
                <img  *ngFor="let a of rsTab" src="{{a}}" class="rsIcon">
            </div>

        </div>      
    </div>
    <div id="right">
        <div id="rTop">
            <!--<div class="rond" id="css"></div>
            <div class="rond" id="js"></div>
            <div class="rond" id="php"></div>-->
                <div class="c100 p90 big">
                    <span>HTML</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>

                <div class="c100 p90 big">
                    <span>CSS</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>

                <div class="c100 p75 big">
                    <span>JS</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>

                <div class="c100 p75 big">
                    <span>PHP</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
        </div>
        <div id="rBot"></div>
    </div>
</div>