@font-face {
	font-family: "coolVet";
	src: url('../assets/fonts/coolvetica.ttf');
}

.main{
    height: 90%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("../assets/img/texture.jpg");
    background-size: contain;
    background-repeat: repeat;*/
    background-color: grey;
}